@{
    ViewData["Title"] = "Tranquilo POP";
}

<div class="text-center">
    <h1 class="display-4">World Of Webcraft</h1>
    <p>Bienvenidos al rpg en primero persona de disparos</p>
</div>


<form asp-action="Login">
    <div class="text-center">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Login</button>
    </div>
</form>