<form asp-action="Login">
    <div class="form-group">
        <label for="Email" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" id="Email" placeholder="name@example.com">
        <p>
        </p>
        <label for="Password" class="form-label">Contraseña</label>
        <input type="password" id="Password" class="form-control" aria-describedby="passwordHelpBlock">
        <p>
        </p>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Ingresar</button>
    </div>
</form>