.main-container {
    background-image: url('/src/img/Normal.png');
    background-size: contain; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 100%;
    padding-left: 100%;
    padding-right: 100%;
    margin-bottom: 50px; 
    background-position: center center;
    background-color: black; 
}
